<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtdback.dao.FundMapper">
	<!-- 缓存 -->
	<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>

	<!-- Fund 结果集 -->
	<resultMap type="com.rtdback.pojo.Fund" id="funds">
		<id property="id" column="id"/>
		<result property="logo" column="logo"/>
		<result property="name" column="name"/>
		<result property="type" column="type"/>
		<result property="firm" column="firm"/>
		<result property="guarantor" column="guarantor"/>
		<result property="state" column="state"/>
		<result property="annualRate" column="annualRate"/>
		<result property="term" column="term"/>
		<result property="sum" column="sum"/>
		<result property="credit" column="credit"/>
		<result property="purpose" column="purpose"/>
		<result property="template" column="template"/>
		<result property="time" column="time"/>
		<result property="tempsum" column="tempsum"/>
	</resultMap>
	
	<sql id="head">
		select id,logo,name,type,firm,guarantor,state,annualRate,term,sum,credit,
		purpose,template,time,tempsum from Fund
	</sql>
	
	<sql id="where">
		<where>1=1
			<if test="logmin != null and logmax != null and logmax != ''">
				and time between #{logmin} and #{logmax}
			</if>
			<if test="type != null and type!= ''">
				and type like concat('%',concat(#{type},'%'))
			</if>
			<if test="firm != null and firm != ''">
				and firm like concat('%',concat(#{firm},'%'))
			</if>
		</where>
	</sql>
	
	<sql id="orderby">
		order by #{sort} #{order}
	</sql>
	
	<sql id="limit">
		limit #{page},#{row}
	</sql>
	
	<select id="findByParam" resultMap="funds">
		<include refid="head"/>
		<include refid="where"/>
		<include refid="orderby"/>
		<include refid="limit"/>
	</select>
	<select id="findByParamTotal" resultType="long">
		select count(*) from fund
		<include refid="where"/>
	</select>
</mapper>